@import url('http://fonts.googleapis.com/css?family=Titillium+Web:400,300&subset=latin,latin-ext');

body, table {
	font-family: 'Titillium Web', 'Arial';
}

strike {
	opacity: .5;
}

footer {
	font-size: 80%;
}

ol>li {
	list-style: none;
}