/* FNTS */
@import url('../common/lekton-fontfacekit/stylesheet.css');

/* MRKP */
body {
    font: 16pt 'Ubuntu Mono', 'LektonBold', 'Courier New';
    text-align: center;

    margin: 0;
    padding: 0;
}

#h {
    height: 1px;
    left: 0;
    overflow: visible;
    position: absolute;
    top: 50%;
    width: 100%;
}
#c {
	position: absolute;
    top: -70px;
    width: 100%;
}

footer {
    font-size: 60%;
    opacity: .7;

    margin: 10px 0 5px 0;
    bottom: 0;
    position: absolute;
    width: 100%;
}

/* WHT */
.sch-wht {
    background-color: white;
    color: black;
}
.sch-wht a {
	color: blue;
}
.sch-wht a:hover {
    color: DarkBlue;
}
.sch-wht #c {
    color: black;
}

/* BLK */
.sch-blk {
    background-color: black;
    color: white;
}
.sch-blk a {
    color: white;
}
.sch-blk a:hover {
    color: LightGray;
}
.sch-blk #c {
    color: white;
}
